---
import Layout from "../layouts/Layout.astro";
import Home from "../components/sections/Home.astro";
import Services from "../components/sections/Services.astro";
import AboutUs from "../components/sections/AboutUs.astro";
import Features from "../components/sections/Features.astro";
---

<Layout title="Welcome!">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <Home />
    <Services />
    <Features />
    <AboutUs />
  </main>
</Layout>
