---
import { Image } from "astro:assets";
import { getLangFromUrl } from "../../i18n/utils";
import croFlag from "../../svg/hr.svg";
import engFlag from "../../svg/en.svg";

const lang = getLangFromUrl(Astro.url);
---

<div class="min-w-max flex items-center gap-x-3">
  <button language-switcher>
    <a href={lang === "en" ? "/" : "/en"}>
      <Image
        src={lang === "en" ? croFlag : engFlag}
        alt={lang === "en" ? "croFlag" : "engFlag"}
        loading="eager"
        width="20"
        height="24"
        class="left-1/2 -translate-x-1/2 bottom-0 max-h-full"
      />
    </a>
    <span class="sr-only">change language</span>
  </button>
</div>
