---
import { Image } from "astro:assets";
import { languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";
import croFlag from "../../src/svg/hr.svg";
import engFlag from "../../src/svg/en.svg";

const lang = getLangFromUrl(Astro.url);
const allLanguages = Object.entries(languages).map(([lang]) => lang);
---

<div class="min-w-max flex items-center gap-x-3">
  <form
    action={`/${lang === allLanguages[0] ? allLanguages[1] : allLanguages[0]}`}
  >
    <button language-switcher>
      {
        lang === "en" ? (
          <Image
            src={croFlag}
            alt="owner"
            loading="eager"
            width="20"
            height="24"
            class=" left-1/2 -translate-x-1/2  bottom-0 max-h-full"
          />
        ) : (
          <Image
            src={engFlag}
            alt="owner"
            loading="eager"
            width="20"
            height="24"
            class="left-1/2 -translate-x-1/2  bottom-0 max-h-full"
          />
        )
      }
      <span class="sr-only">change language</span>
    </button>
  </form>
</div>
