---
export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<div
  class="p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden"
>
  <div class="flex items-center space-x-4 mb-4">
    <div
      class="rounded-xl bg-gray-300 dark:bg-gray-950 p-3 text-heading-1 w-max relative"
    >
      <slot name="icon" />
    </div>
    <h2 class="text-lg md:text-xl font-semibold text-heading-2">{title}</h2>
  </div>
  <div class="mt-6 space-y-4 relative">
    <p class="md:text-lg text-heading-3">
      {description}
    </p>
  </div>
  <span
    class="absolute w-32 aspect-square -bottom-16 -right-16 bg-primary/10 rounded-full"
  ></span>
</div>
